@font-face {
    font-family:PingFang-Medium ;
    src: url("../font/PingFang-Medium.ttf");
}
body{font-family: "PingFang-Medium";}
/*活动页面*/
#background{width: 100%;text-align: center;position: absolute;font-size: 6.5rem}
#background img{background-size:100% 100%;position: relative}
#background .img{margin: 0 auto;color: #ffffff;}
#background .rule{position: relative;margin-top: 44%}
#background .rule .fl{width: 50%;padding-right: 8px;}
#background .rule .fr{padding-left: 20px}
/* #background .rule .fr{width: 50%;padding-left: 20px} */
#time{color: #ffffff;position: relative;margin-top: -277%;;width: 100%}
.time{color: #22abee;}
@media (max-width: 1024px) {  #background{font-size: 4.5rem}  #background .rule{position: relative;}
    /*#background .rule .fl{margin-left: 16%}  #background .rule .fr{margin-right: 11%}  */
}
@media (max-width: 768px) {  #background{font-size: 3.5rem}  #background .rule{position: relative;}
    /*#background .rule .fl{margin-left: 16%}  #background .rule .fr{margin-right: 11%}  */
}
@media (max-width: 767px) {  #background{font-size: 1.75rem} #time{font-size: 1.5rem} #background .rule{position: relative;}
    /*#background .rule .fl{margin-left: 14%}  #background .rule .fr{margin-right: 10%}*/
    #background .rule .winner_list{margin-left: 14%}}
@media (max-width: 414px) {#time{margin-top: -276%} #background .rule{margin-top: 45%}
    #background .rule .fl,#background .rule .fr{margin-top: -1%}}
@media (max-width: 375px) {#time{margin-top: -277%} #background .rule{margin-top: 44%}
    #background .rule .fl,#background .rule .fr{margin-top: 0}}
@media (max-width: 360px) {#background{font-size: 1.5rem}  #time{font-size: 1.25rem;margin-top: -276%}
    #background .rule .fl,#background .rule .fr{margin-top: 1%}}
@media (max-width: 320px) {#background .rule .fl,#background .rule .fr{margin-top: 0}}
.tishi{position: relative;font-size: 4.5rem;position: fixed;width: 100%;height: 100%;top: 0;left: 0;right: 0;
    background: rgba(0, 0, 0, .5);z-index: 9999;}
.tishi .box{width: 50%;height: 405px;background-color: #ffffff;border-radius: 24px;position: relative;
    margin-left: 25%;margin-top: 15%}
.tishi p{color: #666666;padding-top: 42px;padding-left: 36px;padding-right: 36px}
.tishi .con{color: #3574fa;text-align: center;padding-top: 10px;border-top: solid 1px #dddddd;}
@media (max-width: 1024px) {
    .tishi{font-size: 3.5rem}  .tishi .box{width: 80%; margin-left: 10%;margin-top:50%}
    .tishi .con{padding-top: 50px}  }
@media (max-width: 767px) {
    .tishi{font-size: 1.5rem;}  .tishi .box{height:165px;width: 90%; margin-left: 5%;margin-top:60%}
    .tishi p{padding-top: 20px;padding-left: 16px;padding-right: 16px}
    .tishi .con{padding-top: 10px;position: relative;margin-top: 15px}  }
@media (max-width: 320px) { .tishi .box{height:175px;}}
/*@media (max-width: 414px) { .tishi .con{padding-top: 20px}}*/
/*@media (max-width: 375px) { .tishi .con{padding-top: 10px}}*/
/*活动规则*/
.Rule{color: #666666;}
.Rule .title{font-size: 5.5rem;margin-left: 5%;margin-top: 26px}
.Rule .content{font-size: 3.5rem;width: 90%;margin-left: 5%;margin-top: 60px}
.Rule #close{position: relative;float:right;margin-right: 5%;margin-top: -5%}
/*.Rule .title .close{position: relative;float:right;margin-right: 5%;}*/
@media (max-width: 767px) {
    .Rule .title{font-size: 1.5rem;margin-top: 16px}  .Rule .content{font-size: 1rem;margin-top: 20px}
}

/*中奖名单*/
.list_nav{width: 92%;margin-left: 4%;border-bottom: solid 1px #d8d8d8;padding-bottom: 5px}
.list_nav .list_img{width: 4rem;height: 5.7rem;}
.list_nav .title{position: absolute;margin-left: 5rem;margin-top: -4.5rem}
.list_nav .text{font-size: 2rem;font-weight: 700;}
.list_nav .time{color: #999999;font-size: 1.25rem}
.list{margin-top: 2rem}
#assets_nav li{float: left;font-size: 1.75rem;width: 33.3%;text-align: center}
#assets_nav .active {border-bottom: solid 2px #3574fa;color: #3574fa;}
#assets_content table{width: 100%}
#assets_content th{font-size: 1.25rem;background-color: #f8f8f8;line-height: 3rem;color: #999999;}
#assets_content th,#assets_content td{width: 33%;text-align: center;}
#assets_content td{font-size: 1.5rem;line-height: 4.5rem;border-bottom: solid 1px #d8d8d8;}
.kefu{width: 94%;margin-left: 3%;margin-top: 3%;color: #666666;font-size: 1.25rem;margin-bottom: 3%;}
